
body {
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	background-color: white;
/*	opacity: 0.95;*/
	min-height: 100%;
	padding-bottom: 5em;
}

.navbar-settings {
	background-color: white;
	border: 0;
	text-align: center;
	display: inline-block;
  	float: none;
}

.navbar-toggle {
	margin-right:0;
	float: none;
}

.button-spacing {
	margin-left: 2px;
	margin-right: 2px;
}
.transparent {
		opacity: 0.965;
}

.opaque {
	opacity: 1;
	background-color: white;
}

.disclaimer {
	font-size: 7.5pt;
}

#menu-output {
	min-height: 325px;
}


hr {
    border: 0;

    margin-top: 1em;
    margin-bottom: 1em;

    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

.incol.hr {
	width: 50%%;
}

@font-face {
	font-family: "Melbourne-bold";
	src: url("/fonts/melbourne-bold.otf");
	font-weight: normal;
	font-style: normal;
}

.font-melbourne {
	font-family: 'Melbourne-bold';
}

.gameline {
	background-color: #C4C4C4;

	text-align: center;
	
}

#about {
	font-size: 13pt;
}

.about-panel {
	width: 100%;
	font-family: 'Droid Serif';
	font-size: 10.5pt;
	text-align: center;
	border-color: #454545;
	border-width: 2px;
	border-radius: 13px;
/*	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
*/
	padding: 13px;
}


#schedule-output {
	margin-top: 1em;
}

#headers {
	display:inline;
}

#headers .row {
	vertical-align: middle;
}

#user-food {
	margin-top: 1em;
}

#user-picks {
	font-family: "Lato";
	font-weight: bold;
	margin-top: 1em;
}

#user-picks img {
/*	width: 100%;
	height: 100%;
*/	max-height: 80px;
}

#user-picks h3 {
	text-align: center;
	margin-top: 0;
}

#user-picks h6 {
	text-align: center;
	font-size: 16pt;
	margin-top: 25px;
}

#user-picks .panel-heading {
	padding-bottom: 0;
}

#user-picks .panel-heading {
	padding-bottom: 0;
}
.panel {
	.margin: 0px;
	.border: 24;
}

.page-title .panel-body {
	padding: 0;
}

.page-title h1 {
	font-family: 'Melbourne-bold';
	font-size: 72pt;
	display: inline;
	margin-top: ;
}

.firstcharacter { 
	font-family: 'Melbourne-bold'; 
	font-size: 96pt; 
	display: inline; 
	margin-bottom: -15px;
}

.page-title h2 {
	font-family: 'Melbourne-bold';
	font-size: 64pt;
	display: inline;
}

.page-title h6 {
	font-family: 'Melbourne-bold';
	font-size: 16pt;
	margin-bottom: 0;
}

.page-title br {
	margin-top: 5px;
}

.modal-header {
	padding-bottom: 0;
	padding-top: 6px;
}

.modal-body {
	padding-bottom: 0;
}

.user-signin {
	display: inline;
	margin: auto;
	text-align: center;
}

#user-menu {
	text-align: center;
}

.red {
	color: #FF0000;
}

.green {
	color: #5cb85c;
}

.gameline h1 {
	padding-top: 1em;

}

.gameline h4 {
	padding-top: 1em;

}

.text-success {
	text-align: center;
}

#user-name-login {
	margin-bottom: 5px;
}

#password-login {
	margin-bottom: 5px;
}

#user-display {
	display: inline;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}
#user-display p {

}

#user-loading {
	text-align: center;
	margin: auto;
}

#user-loading img {
	left: 50%;
    margin-top: 16px;
}

.ruleline {
	background-color: #5C7FAC;
	color: white;
	text-align: center;
}

.rulespace {
	background-color: gray;
}

.prizeline {
	background-color: #C4C4C4;
	padding-bottom: 1em;
	text-align: center;
	
	 
}
.prize img {

	padding-top: 2em;
}


img {
	padding-right: 1em;
}

.foodrule {
	text-align: center;
	border-color: #454545;
	}

.rule-food-icon {
	text-align: center;
	padding-right: 0;
	padding-left: 0;
}

.rule-food-icon img {
	max-width:100px; 
	min-width: 0px;
	max-height: 100px;
	min-height: 0px;
	padding: 0;
}
.food-awards p {
	font-size: 2em;
}
.food-awards strong {
	font-size: 3em;
}

.food-awards img {
	max-width:85px; 
	min-width: 0px;
	max-height:85px;
	min-height: 0px;
}

#title-panel.panel-default {
	text-align: center;
	border-color: #454545;
	border-width: 2px;
	border-radius: 25px;
}


#page-title {
	padding-top: 0.2em;
	margin: 0;
}

#page-title h4 {
	padding-bottom: 0;
	margin-bottom: 0;
}

#user {
	background-color: silver;
	padding: 0.2em;
	margin-bottom: 1em;
	text-align: center;
}

.game-time h3 {
	display: inline;
}

.game-panel {
	width: 100%;
	font-family: 'Lato';
	text-align: center;
	border-color: #454545;
	border-width: 2px;
	border-radius: 13px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*.username-panel {
	width: 100%;
	font-family: 'Melbourne-bold';
	text-align: center;
	border-color: #454545;
	border-width: 2px;
	border-radius: 13px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}
*/

.game-panel.panel-heading {
	background-color: #454545;
}


.active {
	border-color: #5cb85c;
	border-width: 8px;
}


.menu-output {
	text-align: center;
}

#user-name {
	text-align: center;
	font-family: "Lato";
	font-size: 14pt;
}

#failed-login {
	text-align: center;
	font-family: "Lato";
	font-size: 14pt;
}

.game-display h3 {
	font-size: 16pt;
	font-weight: bold;
}

.game-display img {
	max-height: 67px;
}

.game-display.col-md-2 {
	padding-left: 0;
	padding-right: 0;
}

.game-display-divider hr {
	margin-top: 7px;
}

.food-rule-title {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}

.food-rule-title h3 {
	padding-top: 0;
	font-family: "Lato";
	font-weight: bold;
	padding-bottom: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}

.food-rule-description {
	font-size: 13pt;
	font-family: "Lato";
	font-weight: normal;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

.food-rule-icon {
	margin-top: 0;
	text-align: center;
}

.food-rule-icon img {
	max-width: 100px;
}

.results-panel .panel-body {
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.results-panel img {
	max-height: 67px;
}

.results-panel .food-rule-title {
	padding-top: 0;
	font-family: "Lato";
	font-weight: bold;
	font-size: 14pt;
}

.food-rule-title p {
	margin-bottom: 2px;
}