
body {

}

hr {
    border: 0;

    margin-top: 3em;
    margin-bottom: 3em;

    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

@font-face {
	font-family: "Melbourne-bold";
	src: url("/fonts/melbourne-bold.otf");
	font-weight: normal;
	font-style: normal;
}

.font-melbourne {
	font-family: 'Melbourne-bold';
}

.gameline {
	background-color: #C4C4C4;

	text-align: center;
	
}

.panel {
	.margin: 0px;
	.border: 24;
}

.page-title h1 {
	font-family: 'Melbourne-bold';
	font-size: 72pt;
	display: inline;
	margin-top: ;
}

.firstcharacter { 
	font-family: 'Melbourne-bold'; 
	font-size: 96pt; 
	display: inline; }

.page-title h2 {
	font-family: 'Melbourne-bold';
	font-size: 64pt;
	display: inline;
}

.page-title h6 {
	font-family: 'Melbourne-bold';
	font-size: 16pt;
	margin-bottom: 0;
}

.page-title br {
	margin-top: 5px;
}

.modal-header {
	padding-bottom: 0;
	padding-top: 6px;
}

.modal-body {
	padding-bottom: 0;
}

.user-signin {
	display: inline;
	margin: auto;
	text-align: center;
}

.red {
	color: #FF0000;
}

.green {
	color: #00CC00;
}

.gameline h1 {
	padding-top: 1em;

}

.gameline h4 {
	padding-top: 1em;

}

.text-success {
	text-align: center;
}

#user-name-login {
	width:27%;
}

#password-login {
	width:27%;
}

#user-display {
	display: inline;
	text-align: center;
	margin: auto;
}

#user-loading {
	text-align: center;
	margin: auto;
}

#user-loading img {
	left: 50%;
    margin-top: 16px;
}

.ruleline {
	background-color: #5C7FAC;
	color: white;
	text-align: center;
}

.rulespace {
	background-color: gray;
}

.prizeline {
	background-color: #C4C4C4;
	padding-bottom: 1em;
	text-align: center;
	
	 
}
.prize img {

	padding-top: 2em;
}


img {
	padding-right: 1em;
}

.foodrule {
	border: solid;
	text-align: center;
	border-color: #454545;
	border-width: 2px;
	border-radius: 7px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.rule-food-icon {
	text-align: center;
	padding-right: 0;
	padding-left: 0;
}

.rule-food-icon img {
	max-width:140px; 
	min-width: 0px;
	max-height:140px;
	min-height: 0px;
}

.food-awards img {
	max-width:85px; 
	min-width: 0px;
	max-height:85px;
	min-height: 0px;
}

#title-panel.panel-default {
	text-align: center;
	border-color: #454545;
	border-width: 2px;
	border-radius: 25px;
}


#page-title {
	padding-top: 0.2em;
	margin: 0;
}

#page-title h4 {
	padding-bottom: 0;
	margin-bottom: 0;
}

#user {
	background-color: silver;
	padding: 0.2em;
	margin-bottom: 1em;
	text-align: center;
}

.game-time h3 {
	display: inline;
}

.game-panel {
	width: 100%;
	text-align: center;
	border-color: #454545;
	border-width: 2px;
	border-radius: 13px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.game-panel.panel-heading {
	background-color: #454545;
}


.active {
	border-color: #5cb85c;
	border-width: 8px;
}

