 <div class="row">
    <div class="col-xs-8 col-xs-offset-2">      
		<center> 
Every night in NBA arenas, basketball fans unite for a common cause. They stand - 20,000 strong - and scream a battle cry. But their chant is not "KO-BE" for their favorite Los Angeles Laker. It's "WE WANT TA-COS! WE WANT TA-COS!" as the Lakers approach 100 points. It's "PIZ-ZA! PIZ-ZA!" while the Toronto Raptors close out an opponent or it's "CHA-LU-PA" ringing out across The Moda Center as Damian Lillard steps to the foul line. Having paid for a $75 ticket and a $9 beer, this is the NBA fan's one chance to cash in: a free taco. So here, basketball fan, play along at home. Get that chalupa. Score that bowl of chili. Make your pick below and chant along at home: "CHA-LU-PA."
		</center>
	</div>
</div>
 <div class="row">
    <div class="col-xs-6 col-xs-offset-3">      
      <hr />
    </div>
  </div>