<div class="panel">
  
    <input id="user-name" type="text" name ="user-name" placeholder="username">
    <input id="password" type="text" placeholder="password">
    <a href=""><input id="signup-button" type="button" value="Sign Me Up!"> </a>

</div>
