   	
<center>
    <p id="user-name">Hello, {{this.userName}}</p>
    <a id="user-signout"><button class="btn btn-danger">Sign Out</button></a>
    <a href="#user-food"><button class="btn btn-success" id="food">Food I’ve Won!</button></a> 
</center>
