<div class="panel">
  <form id="sign-in">   
    <input id="user-name" type="text" name="name" placeholder="username"></input>
    <input id="password" type="password" name="pwd" placeholder="password"></input>
    <input id="signin-button" type="submit" value="ok" action="server.js" method="get"></input> 
    <a id="signUp" href="#user-signup">(Sign Up)</a>
  </form>
 </div>
