<div class="panel">
  
    <b id="user-name">{{this.userName}}'s Food</b>
    <a id="sign-out" href="#user-signin"><u>Sign Out</u></a>
    <a href="#user-view"><button id="home" >Return to games</button></a> 

</div>