<div class="panel">
  
    <b id="user-name">Hello, {{this.userName}}</b>
    <a id="sign-out" href="#user-signin"><u>Sign Out</u></a>
    <a href="#user-food"><button id="food">Food I’ve Won!</button></a> 

</div>