<div class="panel">
  <!-- <form id="sign-in" action=""> -->  
    <input id="user-name" type="text" name="name" placeholder="username"></input>
    <input id="password" type="password" name="pwd" placeholder="password"></input>
    <button id="signin-button">Sign In</button> 
    <a id="signUp" href="#user-signup">(Sign Up)</a>
<!--  </form> -->
 </div>
