<div class="panel">
  <form id="sign-up" action="#user-view">   
    <input id="user-name" type="text" placeholder="username"></input>
    <input id="password" type="text" placeholder="password"></input>
    <input id="signup-button" type="submit" value="Sign Me Up!"></input> 
  </form>
</div>
