
<div id="user-display">
    <p id="user-name">Hello, {{this.userName}}</p>
    <nav class="form-inline">
    <a id="user-signout"><button class="btn btn-danger">Sign Out</button></a>
    </nav>
</div>

