   	
<div id="user-display">
    <p id="user-name">Hello, {{this.userName}}</p>
    <nav class="form-inline">
    <a id="user-signout"><button class="btn btn-danger">Sign Out</button></a>
    </nav>
    <div class="row">
    	<section id="user-menu">
	        <br />
	        <button class="btn btn-default" id="menu-about">about</button>&nbsp;
	        <button class="btn btn-default" id="menu-most-recent-result">previous result</button>
	        <button class="btn btn-default" id="menu-currently-selected-game">currently selected game</button>
	        <button class="btn btn-default" id="menu-user-food">food won</button>
      	</section>
    </div>
</div>

