<div id="user-food">
 
    <nav class="form-inline"> 
    <p id="user-name" style="text-align:center">{{this.userName}}'s Food
    <a id="user-signout" href="#user-signin"><button class="btn btn-danger">Sign Out</button></a>
    <a href="#user-view"><button id="home" class="btn btn-success">Return to games</button></a> </p>

</div>

    <div class="col-xs-10 col-xs-offset-1">      
      <hr />
    </div>

 <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel game-panel panel-default">
          <div class="food-awards">
            <p>Your overall record is {{#each record}}{{/each}}.</p>
            {{#each foodAwards}}
            <img src="/images/food/{{this}}.png"> 
            {{/each}} 
          </div>
        </div>
      </div>  
    </div>
  </div>

