<div class="panel">
  <form id="sign-up" action="#user-view" method="put">   
    <input id="user-name" type="text" name ="user-name" placeholder="username">
    <input id="password" type="text" placeholder="password">
    <input id="signup-button" type="submit" value="Sign Me Up!"> 
  </form>
</div>
