<div id="user-signup">
  <form id="sign-up">   
    <input id="user-name" type="text"></input>
    <input id="password" type="text"></input>
    <button id="user-button">Sign Me Up!</button> 
  </form>
</div>